body{
    background-color: #e5e5e5;
}

.container{
    display: flex;
    margin: 40px;
    background-color:white;
}
.side-panel{
    background-color: #1E2939;
    min-height: 90vh;
 
}
.side-panel-img{
    margin-top: 40px;
    width:370px;
}
.side-panel-content{
    margin-left: 40px;
    color: white;
}
.side-panel-links{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255,255,255, 0.5)
}
.side-panel-text{
    color:white;
    text-decoration:none;
}
.side-panel-list{
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
}
.side-panel-list-items::before{
    content:"\2022";
    color:#FB6D3A;
    margin-left: -2em;
    display: inline-block;
    width:1em;
}
.main-content-container{
    margin:102px 0 107px 88px;
}
.main-content-about-me{
    font-family: 'Montserrat';
    font-style: normal;
}
.main-content-about-me-title{
    font-weight: 700;
    font-size:45px;
    line-height: 55px;
    color:black;
}
.main-content-about-me-name{
    font-weight: 700;
    font-size:14px;
    line-height:17px;
    color:black;
}
.main-content-about-me-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.main-content-about-me-description-container{
    width: 400px;
}
.project-main-content{
    font-style: 'Montserrat';
    font-style:normal;
}
.project-description{
    font-weight:700;
    font-size:22px;
    line-height:27px;
}
.project-links{
    font-weight:700;
    font-size:14px;
    line-height:24px;
    color:#595959;
}
.b-bracket{
    font-style:normal;
    font-weight:bold;
    color:black;
    font-size:14px;
    line-height:24px;
}
.link-color{
    color:#595959;
    font-weight: 400;
}
ol > li:before {
    font-weight:bold;
}
.work-experience{
    font-weight:700;
    font-size:22px;
    line-height:27px;
}
.work-experience-main-content{
    font-style: normal;
    font-family: 'Montserrat';
}
.work-experience-front-end-developer{
    font-weight: 700;
    font-size:16px;
    line-height:20px;
}
.work-experience-freelance{
    color:#FB6D3A;
}
.work-experience-unordered-list{
    font-weight:400;
    font-size:14px;
    line-height:24px;
}
.work-experience-date{
    color:#A8A8A8;
    font-weight:400px;
    font-size:12px;
    line-height:15px;
}
.manager-main-content{
    font-style: normal;
    font-family: 'Montserrat';
}
.manager-glory-new{
    color:#FB6D3A;
}
.manager{
    font-weight:700;
    font-size:16px;
    line-height:20px;
}
.manager-date{
    color:#A8A8A8;
    font-weight:400;
    font-size:12px;
    line-height:15px;
}
.manager-text{
    font-weight:400;
    font-size:14px;
    line-height:24px;
}
.manager-glory-llc{
    color:#FB6D3A;
}
.manager-glory{
    font-weight:700;
    font-size:16px;
    line-height:20px;
}
.manager-glory-date{
    color:#A8A8A8;
    font-weight:400;
    font-size: 12px;
    line-height:15px;
}
.manager-glory-text{
    font-weight:400;
    font-size:14px;
    line-height:24px;
}
.education{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight:700px;
    font-size:22px;
    line-height:27px;
}
.national-university{
    font-style: normal;
    font-family: 'Montserrat';
    color:#FB6D3A;
    font-weight:700;
    font-size:16px;
    line-height:20px;
}
.management{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight:700;
    font-size:14px;
    line-height:17px;
}